<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments.reverse %>
<%= render partial: 'comments/form' %>
<%= link_to "delete", article_path(@article),data: {confirm: "Really delete the article?"} %>
<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "<< Back to Articles List", articles_path %>
